# OS specific
.DS_Store
Thumbs.db

# Nuxt & Node
**/.data
**/.nuxt
**/.vscode
**/dist
**/.output
**/node_modules
**/.nitro
**/.cache
**/.env
**/.env.*
!.env.example
*.log

# Database Specifics
**/server/db/migrations

# Cloud Specifics
**/.wrangler

# NAC Core specific
.eslintcache
*.tsbuildinfo

# Coverage reports for vitest
**/coverage

playground/.data
