# DATABASE_URL='file:playground/.data/db/sqlite.db' # optional (if the default sqlite db path if different)
DATABASE_URL="mysql://root:root@127.0.0.1:3306/nac_db" #optional (if connecting to mysql)
NUXT_AUTO_CRUD_AGENTIC_TOKEN="minimum-16-character" # optional (for api/_nac/_meta?format=md&token=minimum-16-character)
# NUXT_PUBLIC_AUTO_CRUD_API_BASE='http://localhost:8000/api/' #optional (for connecting to your api app.)